FRONTEND_URL=
ADMIN_PORTAL_URL=
SERVER_URL=

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URI=
GMAIL_USERNAME=
GMAIL_PASSWORD=

ZEGO_APPID=
ZEGO_SERVER_SECRET=

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=

MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=