FRONTEND_URL = http://localhost:5173

# https://console.cloud.google.com/welcome?project=white-artwork-463715-m9
# Login -> Api & Services -> OAuth consent screen -> Client -> Create client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GMAIL_USERNAME=
GMAIL_PASSWORD=